#header{
	text-align: center;
	color:white;
	background-image: url(the-flatiron-building.png);
}
#header h1{
	font-family: Helvetica;
	font-size: 70px;
	color:white;
}
#header h2{
	font-family: Helvetica;
	font-size: 23px;
	color:white;
}
.nav-button{
	font-family: Helvetica;
	font-size: 18px;
	color:white;
}
.grid{
	text-align: center;
}
.grid h2{
	font-family: Helvetica;
	font-size: 32px;
}
.grid-item h3{
	font-family: Helvetica;
	font-size: 23px;
}
.grid-item p{
	font-family: Helvetica;
	font-size: 14px;
}
.footer{
	font-family: Helvetica;
	font-size: 11px;
	color: white;
	background-color: dimgray;
}
